<!DOCTYPE html>
<html>
<head>
  <title>PragProg Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
   <div id='banner'>
   <%= image_tag('logo.png') %>
   <%= @page_title || "Pragmatic Bookshelf" %>
     <span id='visits'>You've viewed the catalog <%= pluralize(@visits.to_i, 'time') %> since adding to your cart.</span>
     </div>

   <div id='columns'>
     <div id='side'>
       <span class='time'>
       Page generated at: </br><%= Time.now.utc %>
       </span>
       <ul>
         <li><a href='<%= store_path %>'>Home</a></li>
         <li><a href='store/faq'>Questions</a></li>
         <li><a href='store/news'>News</a></li>
         <li><a href='store/contact'>Contact</a></li>

       </ul>
       <div id='cart'      >
         <% if  @cart %>
              <% if @cart.line_items.empty? do %>
                       style="display: none"
             <% end %>
              <% else %>
              <%= render @cart %>
             <%end %>
         <%end %>


       </div>
     </div>
     <div id='main'><%= yield %></div>

   </div>


</body>
</html>
